/* Reset css */
*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
    
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

/* 
1.Vị trí
2.Kích thước
3.Màu sắc
4.Kiểu dáng
 */

#main{

}

#header{
    height:46px;
    background-color: black;
    position:fixed;
    top: 0;
    left:0;
    right:0;
    width: 100%;
    z-index: 2;
}

#nav
{
    display: inline-block;
}

#nav li
{
    display: inline-block;  
    position: relative;

}

#nav> li> a
{
    color:white;
    text-transform: uppercase;
}

#nav li a
{
    text-decoration: none;
    display: block;
    line-height:46px;
    padding:0 24px;
   
}
#nav .subnav li:hover a,
#nav >li:hover> a
{
    color: #000;
    background-color: white;
}

#nav .subnav li
{
    width: 100%;
}

#nav .subnav 
{
    min-width: 160px;
    position:absolute;
    top:100%;
    left:0;
    background-color: #ccc;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.4);
    display: none;
   
}

#nav li:hover .subnav
{
    display: block;
}

#nav .subnav a
{
    color:black;
    background-color: white;
    padding-left: 15px;
    line-height: 38px;

}

#nav .nav-arrow-down
{
    font-size: 12px;
}

#header .search-btn
{
    float:right; 
    padding: 0 26px;
}

#header .ti-search
{
    color:white;
    font-size: 20px;
    line-height: 46px;
    
}

 #header .search-btn:hover
{
    background-color:#f44336;
    cursor: pointer;

} 

#slider{
    position:relative;
    margin-top: 46px;
    padding-top:50%;
    background: url('/assets/img/slider/slider1.jpg') top center / cover no-repeat;
}

#slider .text-content
{
    position:absolute;
    color: #fff;
    bottom: 47px;
    width: 100%;
    text-align: center;
}

#slider .text-heading
{
    font-weight: 500;
    font-size: 24px;

}

#slider .text-description
{
    margin-top: 15px;
    font-size: 15px;
    font-weight: 300;
}


#content
{
    
}

#content .content-section
{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0;
}

#content .content-section .section-heading
{
    font-size: 30px;
    text-align: center;
    margin: 10px 0 10px 0;
    font-weight: 500;
    letter-spacing: 3px;
}

#content .content-section .section-sub-heading
{
    font-size: 15px;
    text-align: center;
    font-style: italic;
    margin-top: 15px;
    opacity: 0.6;

}

#content .content-section .about-text
{
    font-size: 15px;
    margin-top: 15px;
    text-align: justify;
    line-height: 1.4;
}


#footer{

}
